/*.root {
    -fx-background-image: url("./image/background2.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 0, 0); /* Hiệu ứng làm mờ */
}


.label {
    -fx-text-fill: #0ab54d;
    -fx-font-weight: bold;
}

.button {
    -fx-text-fill: #fff;
    -fx-background-color: #4ab54d;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.radio-button {
    -fx-text-fill:  #4ab54d;
     -fx-font-weight: bold;
}


#loginBtn {
    -fx-padding: 10px 20px;
}

#btnPatient {
    -fx-padding: 40px 20px
}

#btnRoom {
    -fx-padding: 40px 10px
}
